@import 'bootstrap-sprockets'
@import 'bootstrap'

html,body
  width: 100%
  height: 50%
  font-family: "Courier New", courier,monospace

.header
  display: table
  position: relative
  width: 100%
  height: 100%
  background-image: url('img01.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

.titulo
  display:table-cell
  text-align: center
  vertical-align: middle
  padding-top: 120px
  padding-bottom: 60px

.titulo h1
  margin-bottom: 25px
  font-size: 4.5em
  font-weight: 700

.titulo h3
  margin-bottom: 25px
  font-size: 25px
  font-weight: 700

.container
  vertical-align: middle
  padding-top: 40px

.jumbotron
  background-color: rgba(0, 0, 0, .4)
  color: black
  border: 2px solid #008CBA
  -webkit-transition-duration: 0.4s
  transition-duration: 0.4s
  vertical-align: middle
  margin-left: 30%
  margin-right: 30%

.jumbotron:hover
  background-color: #008CBA
  color: black

.btn-dark
  border-radius: 0
  color: #fff
  background-color: rgba(0, 0, 0, .4)
